/ArCsPaiInfoSinteticheDTO.class
/ArCsPaiPTIDTO.class
/ArCsPaiPTIDocumentoDTO.class
/ArCsPaiPtiConsuntiDTO.class
/DettaglioMinore.class
/DettaglioPTI.class
/MinoreInStruttura.class
/RichiestaDisponibilitaPaiPtiDTO.class
/RichiestaMinorePaiPtiPDTO.class
