body {
	font-size: 14px;
	font-family: Arial, Verdana, sans-serif;
	margin-left: 2.5%;
	padding: 0;
	width: 95%;
}

.ui-panel {
	font-size: 14px;
	font-family: Arial, Verdana, sans-serif;
}

.ui-panelgrid {
	width: 100%;	
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none;
}