<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.oracle.ojdbc">
    <resources>
        <resource-root path="ojdbc7.jar"/>
        <resource-root path="orai18n.jar"/>
        <resource-root path="xdb6.jar"/>
        <resource-root path="xmlparserv2-11.1.1.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
		<module name="javax.servlet.api" optional="true"/>
    </dependencies>
</module>
