<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.oracle.spatial">
    <resources>
        <resource-root path="sdoapi-11.2.0.jar"/>
		<resource-root path="sdoutl-11.2.0.jar"/>
    </resources>
    <dependencies>
		<module name="com.oracle.ojdbc" slot="main"/>
    </dependencies>
</module>
